
{%extends "base.html"%}

{%block content%}  
    <h1>Enter your Location</h1>
    <form method="post" enctype=multipart/form-data>
        <p>Your Location PLZ</p>
        <input type="number" name=location><br>
        
        <input type="checkbox" id="beer" name="Beer" value="Beer">
        <label for="beer">Beer</label><br>
    
        <input type="checkbox" id="vodka" name="Vodka" value="Vodka">
        <label for="vodka">Vodka</label><br>
        
        <input type="checkbox" id="whiskey" name="Whiskey" value="Whiskey">
        <label for="whiskey">Whiskey</label><br>
    
        <input type="checkbox" id="gin" name="Gin" value="Gin">
        <label for="gin">Gin</label><br>
    
        <div>
            <input type=submit value=Browse>
        </div>
    </form>
{%endblock%}