{%extends "base.html"%} {%block content%}
<div
  class="block hero1 my-auto"
  style="
    background-image: url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  "
>
  <div class="container-fluid text-center">
    <h1
      class="display-2 text-white"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="0"
    >
      YOUR CART
    </h1>
    <p
      class="lead text-white"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="600"
    ></p>
  </div>
  <div class="clearfix"></div>
</div>

<div class="maincontent">
  <div class="container">

    <h3 class="mb-4 text-center">CART IS EMPTY! </h3>


    <form action="/menu">
      <button class="btn btn-outline-primary btn-round btn-block">
        GO BACK TO MENU
      </button>
    </form>
  </div>
</div>

{%endblock%}
